.timeline-card {
  @apply relative;
  @apply flex flex-col gap-x-20;
  @apply bg-white rounded-2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:before {
    content: '';
    border-top: 2em solid #424242;
    border-left: 2em solid transparent;
    left: -2em;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
  }
}

.timeline-event {
  @apply flex flex-1;
  @apply relative;

  &:nth-child(odd) {
    @apply flex-row-reverse;

    & .timeline-event-opposite,
    .timeline-event-content {
      @apply mr-60 ml-0;
    }

    & .timeline-card {
      @apply relative;
      &:before {
        border-right: 2em solid transparent;
        right: -2em;
        left: auto;
      }
    }
  }
}

.timeline-event-content {
  @apply flex flex-col;
  @apply flex-1;
  @apply py-16 px-0;
  width: 424px;
}

.timeline-event:nth-child(even):not(:last-child) {
  & .timeline-event-content {
    @apply flex flex-col justify-end;
    @apply relative;

    & .timeline-card {
      @apply rounded-bl-none;
    }
  }
}

.timeline-event:nth-child(odd):not(:first-child):not(:last-child) {
  & .timeline-event-content {
    @apply relative;
    & .timeline-card {
      @apply rounded-tl-none;
    }
  }
}

.timeline-event-opposite,
.timeline-event-content {
  @apply mr-0 ml-60 pt-8 pb-16;
}

.timeline-event {
  &:last-child {
    & .p-timeline-event-content {
      @apply ml-0;
    }
  }
}

.marker-container {
  @apply relative;
}

.marker-point {
  @apply w-20 h-20 rounded-full bg-color6;
}

.marker-indicator {
  @apply absolute;
  @apply py-8 px-16;
  @apply bg-color10 rounded-64;
  @apply text-color12;
  top: -0.75rem;
  right: 5rem;
}

.timeline-event:last-child,
.timeline-event:first-child {
  & .timeline-event-content {
    @apply justify-center;
  }
}

.timeline {
  @apply flex flex-col flex-grow-default;

  scrollbar-color: #d0d5dd #e4e7ec;
  scrollbar-width: thin !important;

  &::-webkit-scrollbar {
    @apply h-32;
    visibility: visible;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-color4;
    border: 0.95rem solid #f7f7f7;
  }
  &::-webkit-scrollbar-track {
    @apply mr-20;
  }
  &::-ms-scrollbar {
    visibility: visible;
  }
}

.timeline-event-separator {
  @apply flex flex-col items-center;
  flex: 0;
}

.timeline-event-connector {
  @apply flex flex-grow-default h-full;
  @apply w-2 bg-color6;
}

.timeline-event-opposite {
  @apply flex-1;
}

.timeline-card-content {
  @apply flex flex-col gap-y-16 flex-1;
}

.timeline-card-title {
  @apply text-white bg-color2;
  @apply p-16;
  -webkit-line-clamp: 4;
}

.timeline-card-inner-content {
  @apply p-16;
  @apply flex flex-col gap-y-4;
}

.timeline-card-text {
  @apply text-color8 font-light text-14;
  -webkit-line-clamp: 10;
}

.timeline-card-date {
  @apply text-color2 text-14;
}

.timeline-card-icon {
  @apply w-64 h-64 rounded-full;
  @apply bg-color10;
  @apply py-14 px-16;
  @apply self-center;
}

@screen tablet {
  .timeline-card {
    @apply p-20;
  }

  .timeline-event-content {
    @apply py-16;
    width: 430px;
  }

  .timeline-event:not(:first-child):not(:last-child):not(:nth-child(2)) {
    margin-left: -12.5rem;
  }

  .timeline-event-opposite,
  .timeline-event-content {
    @apply mr-16 ml-8 pt-32 pb-48;
  }

  .timeline-card-content {
    @apply gap-y-12;
  }

  .timeline-card-title {
    -webkit-line-clamp: 3;
  }

  .timeline-card-text {
    -webkit-line-clamp: 8;
  }

  .timeline-event:first-child {
    & .timeline-card-date {
      @apply text-color19;
    }
  }
}

@screen mobile {
  .timeline-card {
    @apply flex-col gap-y-20;
  }

  .timeline-event {
    min-height: 39rem;
  }

  .timeline-event-content {
    width: 340px;
  }

  .timeline-event:not(:first-child):not(:last-child):not(:nth-child(2)) {
    margin-left: -11.5rem;
  }

  .timeline-event-opposite,
  .timeline-event-content {
    @apply mr-16 ml-8 pt-32 pb-48;
  }

  .timeline-card-content {
    @apply gap-y-8;
  }

  .timeline-card-title {
    -webkit-line-clamp: 3;
  }

  .timeline-card-text {
    -webkit-line-clamp: 6;
  }

  .timeline-card-icon {
    @apply self-start;
  }
}
