.aboutMe-container {
  @apply flex flex-col;
  @apply w-full;
}

.aboutMe-upper {
  @apply flex justify-center;
  @apply w-full;
  @apply pt-16 pb-112;
  @apply bg-color4;
}

.aboutMe-text {
  @apply text-14 font-light text-color2 text-center;
}

.aboutMe-upper-block {
  @apply flex flex-col;
}

.aboutMe-avatar {
  @apply self-center;
  @apply w-180 h-180;
  @apply p-4 rounded-full bg-white;
  @apply z-5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -5.5rem;

  & > img {
    @apply rounded-full;
    @apply w-172 h-172;
  }
}

.aboutMe-info {
  @apply w-full bg-white;
  @apply flex flex-col gap-y-32;
  @apply px-60 pt-112 pb-60;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: -4.5rem;
}

.aboutMe-socials {
  @apply flex gap-x-16 self-center;
}

.aboutMe-socials-btn {
  & > svg {
    @apply w-32 h-32;
    @apply text-color5;
    transition: all 0.3s;
  }

  &:hover {
    & svg {
      @apply text-color9;
    }

    & > span {
      @apply text-color9;
    }
  }
}

.aboutMe-actions {
  @apply flex gap-x-16 self-center;
}

.aboutMe-actions-btn {
  @apply py-8 px-48;
  @apply bg-color6;
  @apply text-white;
  @apply rounded-2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    @apply bg-color7;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
  }

  &:active {
    @apply bg-color6;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
  }
}

.aboutMe-name {
  @apply text-center;
  @apply text-32 font-normal text-white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
}

.aboutMe-position {
  @apply text-center;
  @apply text-20 font-light text-white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
}

@screen mobile {
  .aboutMe-actions {
    @apply flex-col gap-y-16;
  }

  .aboutMe-info {
    @apply px-24 pb-24;
  }
}
